.App {
  text-align: center;
}

.photo {
  width: 400px;
}

.red {
  margin-top: 50px;
  color: rgb(156, 26, 26);
  font-weight: 600;
  font-size: 24px;
}

.time {
  font-size: 30px;
  font-weight: 500;
  color: darkmagenta;
}