.list-item {
    padding: 10px;
    border: 2px solid black;
    align-items: center;
  }

  .btn {
    font-size: 30px;
    padding: 5px;
    &:hover {
      cursor: pointer;
    }
    &-edit {
      color: #20167e;
    }
    &-del {
      color: #ad3520;
    }
  }

  img {
    width: 100px;
    margin: 20px;
  }

  span {
    margin: 20px;
  }

  .red {
    display: block;
    background: #ad3520;
    padding: 10px 20px;
    margin: 20px auto;
  }